<div class="homePage">
    <header class="homePage_header">
        <p>Nome do Professor</p>
        <a href="?pagina=home&metodo=logout">Sair</a>
    </header>
    <main class="homePage_content">
        <div class="homePage_content_cadastroTurma">
            <a href="">Cadastrar Turma</a>
        </div>
        <div class="homePage_content_turmas">
            <h2>Turmas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Nome</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Desenvolvimento de Sistemas</td>
                        <td><button class="buttonExcluir">Excluir</button><button
                                class="buttonVisualizar">Visualizar</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Desenvolvimento de Sistemas SA01</td>
                        <td><button class="buttonExcluir">Excluir</button><button
                                class="buttonVisualizar">Visualizar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>