<div class="turmaPage">
    <header class="turmaPage_header">
        <p>Nome do Professor</p>
        <a href="">Sair</a>
    </header>
    <main class="turmaPage_content">
        <div class="turmaPage_content_cadastroTurma">
            <a href="">Cadastrar Atividade</a>
        </div>
        <div class="turmaPage_content_turmas">
            <h3>Turma: Desenvolvimento de Sistemas SA01</h3>
            <table>
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lógica de programação - condicionais</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Lógica de programação - laços de repetição</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>